header {
    background: #24292e;
    width: 100%;
    padding: 0.5em 0;
    color: white
}

.menu-abrir {
    color: #a0a2a3;
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
    height: 0;
    width: .75em;
    padding-top: .125em;
    border-top: .375em double #a0a2a3;
    border-bottom: .125em solid #a0a2a3;
    vertical-align: middle;
    margin-right: 1em;
    position: absolute;
    right: 0px;
}

.menu-fechar {
    background-color: transparent;
    border: none;
    margin-right: 1em;
    position: absolute;
    right: 0px;
}

.logo img {
    width: 200px;
}

.logo,
.secao {
    padding: 0 1%;
    margin-left: 2em;
}

.logo,
.busca,
.barra-nav,
.menu-principal {
    display: inline-block;
    vertical-align: middle;
}

.menu-principal {
    font-weight: bold;
    list-style-type: none;
}

.menu-principal a {
    display: block;
    padding-right: 1em;
    margin-right: 1em;
    line-height: 1;
    text-decoration: none;
    color: black;
}

.menu-principal a:hover {
    opacity: 0.8;
}

.menu-principal {
    margin-top: 2em;
}

.menu-principal li {
    float: left;
}
